@page "/form2"
<h1>Form2</h1>
<form action="" target="_blank">

    <p>Field 1: <input id="field1" type="text" name="a"></p>

    <p>Field 2: <input aria-label="field2" type="text" name="b"></p>

    <p>Field 3: <input class="field3" type="text" name="c"> </p>
    <button> Submit</button>

</form>
