@page "/form1"
<h1>Form1</h1>
<form action="" target="_blank">

    <p>Field 1: <input type="text" name="fullname"></p>

    <p>Field 2: <input type="text" name="email"></p>

    <p>Field 3: <input type="text" name="city"> </p>
    <button> Submit</button>

</form>
